$main-color-d1:#FFA500;
$main-color-d4:#E12573;
$main-color-d8:#FF4343;
$main-background-d8:#EDF4F3;
$main-color-d13:#1CE6AE;
$main-color-d10:#816EE7;
$main-color-d11:#EE12A0;
$gray-color:#edf4f3;
$white-color:white;
$grey-color:#919191;
$black-color:black;
$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$space-7x:$space-x*7;
$space-8x:$space-x*8;
$space-10x:$space-x*10;
$space-12x:$space-x*12;
