.box-cantainer {
   display: flex;
   justify-content: space-evenly;

 }
 .box-parametrs {
   width: 500px;
   height: 500px;
   font-size: 30px;
   display: flex;
   justify-content: stretch;
   FLEX-DIRECTION: column;
   ALIGN-ITEMS: center;
 }

 .circle{
  border-radius: 50%;
 }

 .randomCircle{
  background-color: blueviolet;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
 }
 .box1 {
   background-color: #c5daf2;
   border: 5px dashed #5191db;
 }
 
 .box2 {
   background-color: #c2eac2;
   border: 5px dashed #49cb49;
 }

 .multiCircle {
  background-color: #c2eac2;
  border: 5px dashed #49cb49;
  width: 500px;
  height: 500px;
  font-size: 30px;
  display: flex;
  justify-content: stretch;
  FLEX-DIRECTION: column;
  ALIGN-ITEMS: center;
}