*{
    box-sizing: border-box;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
}


@for $i from 1 through 12 {
    .col-#{$i} {
      widh: calc((100/12)*#{$i})
    }
  }

  $main-color:#EE12A0;
  $white-color:white;
$black-color:black;
$space-x:5px;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$space-7x:$space-x*7;
$space-8x:$space-x*8;
$space-10x:$space-x*10;
$space-12x:$space-x*12;


.background-main{
    background:$main-color;
}
.white-color{
    color:$white-color;
}
.black-color{
    color:$black-color;
}


.text-align-center{
    text-align: center;
}

// Font

.font-size-2x{
    font-size: $space-2x;
}
.font-size-3x{
    font-size: $space-3x;
}
.font-size-4x{
    font-size: $space-4x;
}
.font-size-6x{
    font-size: $space-6x;
}

// margin and padding
//   MARGIN

.margin-0 {
    margin: 0;
    }
    .padding-0{
        padding: 0;
        }
    .margin-x{
        margin: $space-x;
        }
    .padding-x{
        padding: $space-x;
            }
    .margin-2x {
        margin: $space-2x;
        }
    .padding-2x{
       padding: $space-2x;
    }
    .margin-4x {
        margin: $space-4x;
    }
    .margin-top-4x {
        margin-top: $space-4x;
    }
    .padding-4x{
        padding: $space-4x;
    }
    .margin-top-12x {
        margin-top: $space-12x;
    }
    .padding-16x{
        padding: $space-8x*2;
    }
    .margin-16x{
        padding: $space-8x*2;
    }

