* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  widh: calc((100/12)*1);
}

.col-2 {
  widh: calc((100/12)*2);
}

.col-3 {
  widh: calc((100/12)*3);
}

.col-4 {
  widh: calc((100/12)*4);
}

.col-5 {
  widh: calc((100/12)*5);
}

.col-6 {
  widh: calc((100/12)*6);
}

.col-7 {
  widh: calc((100/12)*7);
}

.col-8 {
  widh: calc((100/12)*8);
}

.col-9 {
  widh: calc((100/12)*9);
}

.col-10 {
  widh: calc((100/12)*10);
}

.col-11 {
  widh: calc((100/12)*11);
}

.col-12 {
  widh: calc((100/12)*12);
}

.margin-0, .demo-title {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.margin-x {
  margin: 5px;
}

.padding-x {
  padding: 5px;
}

.margin-2x {
  margin: 10px;
}

.padding-2x {
  padding: 10px;
}

.margin-4x {
  margin: 20px;
}

.padding-4x {
  padding: 20px;
}

.margin-top-x {
  margin-top: 5px;
}

.margin-top-2x, .container p {
  margin-top: 10px;
}

.margin-top-3x {
  margin-top: 15px;
}

.margin-top-4x {
  margin-top: 20px;
}

.margin-top-5x {
  margin-top: 25px;
}

.margin-top-10x {
  margin-top: 60px;
}

.margin-bottom-10x, .container {
  margin-bottom: 50px;
}

.margin-top-16x, .container {
  margin-top: 80px;
}

.paddingS-16x {
  margin-top: 80px;
}

.text-align-center, .demo-title, .container .description {
  text-align: center;
}

.font-size-2x {
  font-size: 10px;
}

.font-size-3x {
  font-size: 15px;
}

.font-size-4x, .demo-title {
  font-size: 20px;
}

.font-size-6x, .container h1 {
  font-size: 30px;
}

.background-main-d1 {
  background: #FFA500;
}

.background-main-d8 {
  background: #FF4343;
}

.background-main-d13, .demo-title {
  background: #1CE6AE;
}

.background-main-d4 {
  background: #E12573;
}

.background-main-d10 {
  background: #816EE7;
}

.background-main-d11 {
  background: #EE12A0;
}

.background-main-d9 {
  background: #C0DF19;
}

.background-main-d7 {
  background: #2E4B9B;
}

.white-color {
  color: white;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}

.demo-title {
  padding: 10px 15px;
  color: white;
}

.container h1 {
  font-family: 'Droid Sans',sans-serif;
}

.service {
  background: white;
  margin: 0 15px;
  padding: 30px 0px;
}

.service i {
  position: absolute;
  top: -26px;
  left: -18px;
  height: 110px;
  width: 110px;
  line-height: 107px;
  font-size: 52px;
  color: #fff;
  border-radius: 100%;
  background: #1ce6ae;
  -webkit-box-shadow: 0 0 0 10px #e9e9e9;
          box-shadow: 0 0 0 10px #e9e9e9;
}

.service h2 {
  padding: 10px 0;
  text-align: right;
  font-size: 30px;
  font-family: 'Droid Sans',sans-serif;
}

.service p {
  padding: 20px 0 20px;
  margin-bottom: 35px;
  text-align: left;
}

.service a {
  padding: 15px 35px;
  color: white;
  border-radius: 40px;
  margin: 10px 0 20px;
  background: #1ce6ae;
}

.service-item {
  position: relative;
  overflow: hidden;
  margin: 50px 0 40px;
  padding: 20px;
  background: #eee;
  padding-bottom: 45px;
}

.service-item > * {
  position: relative;
  z-index: 2;
}

.service-item:after {
  position: absolute;
  top: 0;
  bottom: 0;
  -webkit-transform: translateY(-100%) translateX(-100%);
          transform: translateY(-100%) translateX(-100%);
  background: #1ce6ae;
  right: 0;
  left: 0;
  content: '';
}

.service-item:hover:after {
  -webkit-transform: translateY(0) translateX(0);
          transform: translateY(0) translateX(0);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  background: #1ce6ae;
}

.service-item:hover .service-item {
  background: 0 0;
}

.service-item:hover p {
  color: white;
}

.service-item:hover a {
  background: #15ba8c;
  color: white;
}

.service-item:hover h2 {
  color: white;
}
