body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  width: calc((100%/12)*1);
}

.col-2 {
  width: calc((100%/12)*2);
}

.col-3 {
  width: calc((100%/12)*3);
}

.col-4 {
  width: calc((100%/12)*4);
}

.col-5 {
  width: calc((100%/12)*5);
}

.col-6 {
  width: calc((100%/12)*6);
}

.col-7 {
  width: calc((100%/12)*7);
}

.col-8 {
  width: calc((100%/12)*8);
}

.col-9 {
  width: calc((100%/12)*9);
}

.col-10 {
  width: calc((100%/12)*10);
}

.col-11 {
  width: calc((100%/12)*11);
}

.col-12 {
  width: calc((100%/12)*12);
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs1 {
    width: calc((100%/12)*1);
  }
  .col-xs2 {
    width: calc((100%/12)*2);
  }
  .col-xs3 {
    width: calc((100%/12)*3);
  }
  .col-xs4 {
    width: calc((100%/12)*4);
  }
  .col-xs5 {
    width: calc((100%/12)*5);
  }
  .col-xs6 {
    width: calc((100%/12)*6);
  }
  .col-xs7 {
    width: calc((100%/12)*7);
  }
  .col-xs8 {
    width: calc((100%/12)*8);
  }
  .col-xs9 {
    width: calc((100%/12)*9);
  }
  .col-xs10 {
    width: calc((100%/12)*10);
  }
  .col-xs11 {
    width: calc((100%/12)*11);
  }
  .col-xs12 {
    width: calc((100%/12)*12);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-sm1 {
    width: calc((100%/12)*1);
  }
  .col-sm2 {
    width: calc((100%/12)*2);
  }
  .col-sm3 {
    width: calc((100%/12)*3);
  }
  .col-sm4 {
    width: calc((100%/12)*4);
  }
  .col-sm5 {
    width: calc((100%/12)*5);
  }
  .col-sm6 {
    width: calc((100%/12)*6);
  }
  .col-sm7 {
    width: calc((100%/12)*7);
  }
  .col-sm8 {
    width: calc((100%/12)*8);
  }
  .col-sm9 {
    width: calc((100%/12)*9);
  }
  .col-sm10 {
    width: calc((100%/12)*10);
  }
  .col-sm11 {
    width: calc((100%/12)*11);
  }
  .col-sm12 {
    width: calc((100%/12)*12);
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md1 {
    width: calc((100%/12)*1);
  }
  .col-md2 {
    width: calc((100%/12)*2);
  }
  .col-md3 {
    width: calc((100%/12)*3);
  }
  .col-md4 {
    width: calc((100%/12)*4);
  }
  .col-md5 {
    width: calc((100%/12)*5);
  }
  .col-md6 {
    width: calc((100%/12)*6);
  }
  .col-md7 {
    width: calc((100%/12)*7);
  }
  .col-md8 {
    width: calc((100%/12)*8);
  }
  .col-md9 {
    width: calc((100%/12)*9);
  }
  .col-md10 {
    width: calc((100%/12)*10);
  }
  .col-md11 {
    width: calc((100%/12)*11);
  }
  .col-md12 {
    width: calc((100%/12)*12);
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .col-lg1 {
    width: calc((100%/12)*1);
  }
  .col-lg2 {
    width: calc((100%/12)*2);
  }
  .col-lg3 {
    width: calc((100%/12)*3);
  }
  .col-lg4 {
    width: calc((100%/12)*4);
  }
  .col-lg5 {
    width: calc((100%/12)*5);
  }
  .col-lg6 {
    width: calc((100%/12)*6);
  }
  .col-lg7 {
    width: calc((100%/12)*7);
  }
  .col-lg8 {
    width: calc((100%/12)*8);
  }
  .col-lg9 {
    width: calc((100%/12)*9);
  }
  .col-lg10 {
    width: calc((100%/12)*10);
  }
  .col-lg11 {
    width: calc((100%/12)*11);
  }
  .col-lg12 {
    width: calc((100%/12)*12);
  }
}

.flex, .bar-2x, .bar-2x .bar-2x-back, .bar-2x .bar-2x-back div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-inline-block {
  display: inline-block;
}

.flex-direction-colum, .bar-2x .bar-2x-back {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-fend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center, .bar-2x .bar-2x-back {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between, .bar-2x, .bar-2x .bar-2x-back div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-align-center {
  text-align: center;
}

.background-rhino-blue-color, .bar-2x {
  background: #373F68;
}

.color-white, .bar-2x .bar-2x-back div h1 {
  color: #FFFFFF;
}

.color-moonraker, .bar-2x .bar-2x-back div i {
  color: #CDD2EE;
}

.mt-1 {
  margin-top: calc(5px * 1) !important;
}

.mt-2 {
  margin-top: calc(5px * 2) !important;
}

.mt-3 {
  margin-top: calc(5px * 3) !important;
}

.mt-4 {
  margin-top: calc(5px * 4) !important;
}

.mt-5 {
  margin-top: calc(5px * 5) !important;
}

.mt-6 {
  margin-top: calc(5px * 6) !important;
}

.mt-7 {
  margin-top: calc(5px * 7) !important;
}

.mt-8 {
  margin-top: calc(5px * 8) !important;
}

.mt-9 {
  margin-top: calc(5px * 9) !important;
}

.mt-10 {
  margin-top: calc(5px * 10) !important;
}

.mr-1 {
  margin-right: calc(5px * 1) !important;
}

.mr-2 {
  margin-right: calc(5px * 2) !important;
}

.mr-3 {
  margin-right: calc(5px * 3) !important;
}

.mr-4 {
  margin-right: calc(5px * 4) !important;
}

.mr-5 {
  margin-right: calc(5px * 5) !important;
}

.mr-6 {
  margin-right: calc(5px * 6) !important;
}

.mr-7 {
  margin-right: calc(5px * 7) !important;
}

.mr-8 {
  margin-right: calc(5px * 8) !important;
}

.mr-9 {
  margin-right: calc(5px * 9) !important;
}

.mr-10 {
  margin-right: calc(5px * 10) !important;
}

.ml-1 {
  margin-left: calc(5px * 1) !important;
}

.ml-2 {
  margin-left: calc(5px * 2) !important;
}

.ml-3 {
  margin-left: calc(5px * 3) !important;
}

.ml-4 {
  margin-left: calc(5px * 4) !important;
}

.ml-5 {
  margin-left: calc(5px * 5) !important;
}

.ml-6 {
  margin-left: calc(5px * 6) !important;
}

.ml-7 {
  margin-left: calc(5px * 7) !important;
}

.ml-8 {
  margin-left: calc(5px * 8) !important;
}

.ml-9 {
  margin-left: calc(5px * 9) !important;
}

.ml-10 {
  margin-left: calc(5px * 10) !important;
}

.mb-1, .bar-2x .bar-2x-back div {
  margin-bottom: calc(5px * 1) !important;
}

.mb-2 {
  margin-bottom: calc(5px * 2) !important;
}

.mb-3 {
  margin-bottom: calc(5px * 3) !important;
}

.mb-4 {
  margin-bottom: calc(5px * 4) !important;
}

.mb-5 {
  margin-bottom: calc(5px * 5) !important;
}

.mb-6 {
  margin-bottom: calc(5px * 6) !important;
}

.mb-7 {
  margin-bottom: calc(5px * 7) !important;
}

.mb-8 {
  margin-bottom: calc(5px * 8) !important;
}

.mb-9 {
  margin-bottom: calc(5px * 9) !important;
}

.mb-10 {
  margin-bottom: calc(5px * 10) !important;
}

.pd-1 {
  padding: calc(5px * 1) !important;
}

.pd-2 {
  padding: calc(5px * 2) !important;
}

.pd-3 {
  padding: calc(5px * 3) !important;
}

.pd-4 {
  padding: calc(5px * 4) !important;
}

.pd-5 {
  padding: calc(5px * 5) !important;
}

.pd-6 {
  padding: calc(5px * 6) !important;
}

.pd-7 {
  padding: calc(5px * 7) !important;
}

.pd-8 {
  padding: calc(5px * 8) !important;
}

.pd-9 {
  padding: calc(5px * 9) !important;
}

.pd-10 {
  padding: calc(5px * 10) !important;
}

.pt-1 {
  padding-top: calc(5px * 1) !important;
}

.pt-2 {
  padding-top: calc(5px * 2) !important;
}

.pt-3 {
  padding-top: calc(5px * 3) !important;
}

.pt-4 {
  padding-top: calc(5px * 4) !important;
}

.pt-5 {
  padding-top: calc(5px * 5) !important;
}

.pt-6 {
  padding-top: calc(5px * 6) !important;
}

.pt-7 {
  padding-top: calc(5px * 7) !important;
}

.pt-8 {
  padding-top: calc(5px * 8) !important;
}

.pt-9 {
  padding-top: calc(5px * 9) !important;
}

.pt-10 {
  padding-top: calc(5px * 10) !important;
}

.pl-1 {
  padding-left: calc(5px * 1) !important;
}

.pl-2 {
  padding-left: calc(5px * 2) !important;
}

.pl-3 {
  padding-left: calc(5px * 3) !important;
}

.pl-4 {
  padding-left: calc(5px * 4) !important;
}

.pl-5 {
  padding-left: calc(5px * 5) !important;
}

.pl-6 {
  padding-left: calc(5px * 6) !important;
}

.pl-7, .bar-2x .bar-2x-back {
  padding-left: calc(5px * 7) !important;
}

.pl-8 {
  padding-left: calc(5px * 8) !important;
}

.pl-9 {
  padding-left: calc(5px * 9) !important;
}

.pl-10 {
  padding-left: calc(5px * 10) !important;
}

.pr-1 {
  padding-right: calc(5px * 1) !important;
}

.pr-2 {
  padding-right: calc(5px * 2) !important;
}

.pr-3, .bar-2x .bar-2x-back div i {
  padding-right: calc(5px * 3) !important;
}

.pr-4 {
  padding-right: calc(5px * 4) !important;
}

.pr-5 {
  padding-right: calc(5px * 5) !important;
}

.pr-6 {
  padding-right: calc(5px * 6) !important;
}

.pr-7 {
  padding-right: calc(5px * 7) !important;
}

.pr-8 {
  padding-right: calc(5px * 8) !important;
}

.pr-9 {
  padding-right: calc(5px * 9) !important;
}

.pr-10 {
  padding-right: calc(5px * 10) !important;
}

.pb-1 {
  padding-bottom: calc(5px * 1) !important;
}

.pb-2 {
  padding-bottom: calc(5px * 2) !important;
}

.pb-3 {
  padding-bottom: calc(5px * 3) !important;
}

.pb-4 {
  padding-bottom: calc(5px * 4) !important;
}

.pb-5 {
  padding-bottom: calc(5px * 5) !important;
}

.pb-6 {
  padding-bottom: calc(5px * 6) !important;
}

.pb-7 {
  padding-bottom: calc(5px * 7) !important;
}

.pb-8 {
  padding-bottom: calc(5px * 8) !important;
}

.pb-9 {
  padding-bottom: calc(5px * 9) !important;
}

.pb-10 {
  padding-bottom: calc(5px * 10) !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.pt-16 {
  padding-top: 80px;
}

.width-2x, .circle-measure {
  width: 10px;
}

.height-2x, .circle-measure {
  height: 10px;
}

.height-10x {
  height: 50px;
}

.height-16x {
  height: 80px;
}

.height-20x {
  height: 100px;
}

.height-23x, .bar-2x {
  height: 115px;
}

.height-25x {
  height: 125px;
}

.height-30x {
  height: 150px;
}

.height-40x {
  height: 200px;
}

.width-30x {
  width: 150px;
}

.border-radius-2x, .bar-2x {
  border-radius: 10px;
}

.color-white, .bar-2x .bar-2x-back div h1 {
  color: #FFFFFF;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700, .bar-2x .bar-2x-back div h1 {
  font-weight: 700;
}

.font-size-x {
  font-size: 5px;
}

.font-size-2x {
  font-size: 10px;
}

.font-size-3x, .bar-2x .bar-2x-back div h1 {
  font-size: 15px;
}

.font-size-4x {
  font-size: 20px;
}

.font-size-5x {
  font-size: 25px;
}

.line-height-x {
  line-height: 5px;
}

.line-height-2x {
  line-height: 10px;
}

.line-height-3x {
  line-height: 15px;
}

.line-height-4x, .bar-2x .bar-2x-back div h1 {
  line-height: 20px;
}

.line-height-5x {
  line-height: 25px;
}

.line-height-6x {
  line-height: 30px;
}

.line-height-7x {
  line-height: 35px;
}

.bar-2x .bar-2x-back div h1 {
  font-family: Jost;
}
