body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  font-family: 'Mulish', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Prompt', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  width: calc((100%/12)*1) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-2 {
  width: calc((100%/12)*2) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-3 {
  width: calc((100%/12)*3) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-4 {
  width: calc((100%/12)*4) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-5 {
  width: calc((100%/12)*5) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-6 {
  width: calc((100%/12)*6) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-7 {
  width: calc((100%/12)*7) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-8 {
  width: calc((100%/12)*8) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-9 {
  width: calc((100%/12)*9) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-10 {
  width: calc((100%/12)*10) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-11 {
  width: calc((100%/12)*11) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.col-12 {
  width: calc((100%/12)*12) !important;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .col-xs-1 {
    width: calc((100%/12)*1) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-2 {
    width: calc((100%/12)*2) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-3 {
    width: calc((100%/12)*3) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-4 {
    width: calc((100%/12)*4) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-5 {
    width: calc((100%/12)*5) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-6 {
    width: calc((100%/12)*6) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-7 {
    width: calc((100%/12)*7) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-8 {
    width: calc((100%/12)*8) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-9 {
    width: calc((100%/12)*9) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-10 {
    width: calc((100%/12)*10) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-11 {
    width: calc((100%/12)*11) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-xs-12 {
    width: calc((100%/12)*12) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container {
    width: 100%;
  }
  .col-sm1 {
    width: calc((100%/12)*1) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm2 {
    width: calc((100%/12)*2) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm3 {
    width: calc((100%/12)*3) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm4 {
    width: calc((100%/12)*4) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm5 {
    width: calc((100%/12)*5) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm6 {
    width: calc((100%/12)*6) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm7 {
    width: calc((100%/12)*7) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm8 {
    width: calc((100%/12)*8) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm9 {
    width: calc((100%/12)*9) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm10 {
    width: calc((100%/12)*10) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm11 {
    width: calc((100%/12)*11) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-sm12 {
    width: calc((100%/12)*12) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container {
    width: 100%;
  }
  .col-md1 {
    width: calc((100%/12)*1) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md2 {
    width: calc((100%/12)*2) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md3 {
    width: calc((100%/12)*3) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md4 {
    width: calc((100%/12)*4) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md5 {
    width: calc((100%/12)*5) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md6 {
    width: calc((100%/12)*6) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md7 {
    width: calc((100%/12)*7) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md8 {
    width: calc((100%/12)*8) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md9 {
    width: calc((100%/12)*9) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md10 {
    width: calc((100%/12)*10) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md11 {
    width: calc((100%/12)*11) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-md12 {
    width: calc((100%/12)*12) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .col-lg1 {
    width: calc((100%/12)*1) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg2 {
    width: calc((100%/12)*2) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg3 {
    width: calc((100%/12)*3) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg4 {
    width: calc((100%/12)*4) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg5 {
    width: calc((100%/12)*5) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg6 {
    width: calc((100%/12)*6) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg7 {
    width: calc((100%/12)*7) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg8 {
    width: calc((100%/12)*8) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg9 {
    width: calc((100%/12)*9) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg10 {
    width: calc((100%/12)*10) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg11 {
    width: calc((100%/12)*11) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .col-lg12 {
    width: calc((100%/12)*12) !important;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

.flex, .container .roadmap-board .board-planned .chip .comment, .container .roadmap-board .board-in-progress .chip .comment, .container .roadmap-board .board-live .chip .comment, .bar-2x, .bar-2x .bar-2x-back, .bar-2x .bar-2x-back div, .bar-2x .bar-2x-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.display-inline-block, .container .roadmap-board .board-planned .board-subject a, .container .roadmap-board .board-in-progress .board-subject a, .container .roadmap-board .board-live .board-subject a {
  display: inline-block;
}

.flex-direction-colum, .bar-2x .bar-2x-back {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.justify-content-fend {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-content-center, .bar-2x .bar-2x-back {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between, .container .roadmap-board .board-planned .chip .comment, .container .roadmap-board .board-in-progress .chip .comment, .container .roadmap-board .board-live .chip .comment, .bar-2x {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-items-center, .container .roadmap-board .board-planned .chip .comment, .container .roadmap-board .board-in-progress .chip .comment, .container .roadmap-board .board-live .chip .comment, .bar-2x .bar-2x-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-align-center {
  text-align: center;
}

.background-rhino-blue-color, .bar-2x {
  background: #373F68;
}

.background-electric-purple-color, .bar-2x .bar-2x-button a {
  background: #AD1FEA;
}

.background-main-color, body {
  background: #F2F2F2;
}

.background-white-color, .container .roadmap-board .board-planned, .container .roadmap-board .board-in-progress, .container .roadmap-board .board-live {
  background: #FFFFFF;
}

.color-white, .bar-2x .bar-2x-back div h1, .bar-2x .bar-2x-back h1 {
  color: #FFFFFF;
}

.color-moonraker, .container .roadmap-board .board-planned .chip .comment i, .container .roadmap-board .board-in-progress .chip .comment i, .container .roadmap-board .board-live .chip .comment i, .bar-2x .bar-2x-back div i {
  color: #CDD2EE;
}

.color-waikawa-grey, .container .roadmap-board .board-planned p, .container .roadmap-board .board-in-progress p, .container .roadmap-board .board-live p, .total-task p {
  color: #647196;
}

.color-rhino, .container .roadmap-board .board-planned h1, .container .roadmap-board .board-in-progress h1, .container .roadmap-board .board-live h1, .container .roadmap-board .board-planned .chip a, .container .roadmap-board .board-in-progress .chip a, .container .roadmap-board .board-live .chip a, .container .roadmap-board .board-planned .chip .comment h1, .container .roadmap-board .board-in-progress .chip .comment h1, .container .roadmap-board .board-live .chip .comment h1, .total-task h1 {
  color: #3A4374;
}

.color-blush, .container .roadmap-board .board-planned .circle {
  color: #F49F85;
}

.color-electric-purple, .container .roadmap-board .board-in-progress .circle {
  color: #AD1FEA;
}

.color-crystal-blue, .container .roadmap-board .board-live .circle {
  color: #62BCFA;
}

.mt-1 {
  margin-top: calc(5px * 1) !important;
}

.mt-2, .container .roadmap-board .board-planned .board-subject, .container .roadmap-board .board-in-progress .board-subject, .container .roadmap-board .board-live .board-subject {
  margin-top: calc(5px * 2) !important;
}

.mt-3, .container .roadmap-board .board-planned .board-subject a, .container .roadmap-board .board-in-progress .board-subject a, .container .roadmap-board .board-live .board-subject a, .container .roadmap-board .board-planned .chip, .container .roadmap-board .board-in-progress .chip, .container .roadmap-board .board-live .chip {
  margin-top: calc(5px * 3) !important;
}

.mt-4 {
  margin-top: calc(5px * 4) !important;
}

.mt-5, .container .roadmap-board .board-planned, .container .roadmap-board .board-in-progress, .container .roadmap-board .board-live {
  margin-top: calc(5px * 5) !important;
}

.mt-6 {
  margin-top: calc(5px * 6) !important;
}

.mt-7 {
  margin-top: calc(5px * 7) !important;
}

.mt-8 {
  margin-top: calc(5px * 8) !important;
}

.mt-9 {
  margin-top: calc(5px * 9) !important;
}

.mt-10 {
  margin-top: calc(5px * 10) !important;
}

.mr-1 {
  margin-right: calc(5px * 1) !important;
}

.mr-2, .container .roadmap-board .board-planned .chip .comment i, .container .roadmap-board .board-in-progress .chip .comment i, .container .roadmap-board .board-live .chip .comment i {
  margin-right: calc(5px * 2) !important;
}

.mr-3, .container .roadmap-board .board-planned .circle, .container .roadmap-board .board-in-progress .circle, .container .roadmap-board .board-live .circle {
  margin-right: calc(5px * 3) !important;
}

.mr-4 {
  margin-right: calc(5px * 4) !important;
}

.mr-5 {
  margin-right: calc(5px * 5) !important;
}

.mr-6 {
  margin-right: calc(5px * 6) !important;
}

.mr-7 {
  margin-right: calc(5px * 7) !important;
}

.mr-8 {
  margin-right: calc(5px * 8) !important;
}

.mr-9 {
  margin-right: calc(5px * 9) !important;
}

.mr-10 {
  margin-right: calc(5px * 10) !important;
}

.ml-1 {
  margin-left: calc(5px * 1) !important;
}

.ml-2 {
  margin-left: calc(5px * 2) !important;
}

.ml-3 {
  margin-left: calc(5px * 3) !important;
}

.ml-4 {
  margin-left: calc(5px * 4) !important;
}

.ml-5 {
  margin-left: calc(5px * 5) !important;
}

.ml-6 {
  margin-left: calc(5px * 6) !important;
}

.ml-7 {
  margin-left: calc(5px * 7) !important;
}

.ml-8 {
  margin-left: calc(5px * 8) !important;
}

.ml-9 {
  margin-left: calc(5px * 9) !important;
}

.ml-10 {
  margin-left: calc(5px * 10) !important;
}

.mb-1, .bar-2x .bar-2x-back div {
  margin-bottom: calc(5px * 1) !important;
}

.mb-2 {
  margin-bottom: calc(5px * 2) !important;
}

.mb-3 {
  margin-bottom: calc(5px * 3) !important;
}

.mb-4 {
  margin-bottom: calc(5px * 4) !important;
}

.mb-5 {
  margin-bottom: calc(5px * 5) !important;
}

.mb-6 {
  margin-bottom: calc(5px * 6) !important;
}

.mb-7 {
  margin-bottom: calc(5px * 7) !important;
}

.mb-8 {
  margin-bottom: calc(5px * 8) !important;
}

.mb-9 {
  margin-bottom: calc(5px * 9) !important;
}

.mb-10 {
  margin-bottom: calc(5px * 10) !important;
}

.pd-1 {
  padding: calc(5px * 1) !important;
}

.pd-2 {
  padding: calc(5px * 2) !important;
}

.pd-3 {
  padding: calc(5px * 3) !important;
}

.pd-4 {
  padding: calc(5px * 4) !important;
}

.pd-5 {
  padding: calc(5px * 5) !important;
}

.pd-6 {
  padding: calc(5px * 6) !important;
}

.pd-7 {
  padding: calc(5px * 7) !important;
}

.pd-8 {
  padding: calc(5px * 8) !important;
}

.pd-9 {
  padding: calc(5px * 9) !important;
}

.pd-10 {
  padding: calc(5px * 10) !important;
}

.pt-1 {
  padding-top: calc(5px * 1) !important;
}

.pt-2 {
  padding-top: calc(5px * 2) !important;
}

.pt-3 {
  padding-top: calc(5px * 3) !important;
}

.pt-4 {
  padding-top: calc(5px * 4) !important;
}

.pt-5 {
  padding-top: calc(5px * 5) !important;
}

.pt-6 {
  padding-top: calc(5px * 6) !important;
}

.pt-7, .container .roadmap-board .board-planned, .container .roadmap-board .board-in-progress, .container .roadmap-board .board-live {
  padding-top: calc(5px * 7) !important;
}

.pt-8 {
  padding-top: calc(5px * 8) !important;
}

.pt-9 {
  padding-top: calc(5px * 9) !important;
}

.pt-10 {
  padding-top: calc(5px * 10) !important;
}

.pl-1 {
  padding-left: calc(5px * 1) !important;
}

.pl-2 {
  padding-left: calc(5px * 2) !important;
}

.pl-3 {
  padding-left: calc(5px * 3) !important;
}

.pl-4 {
  padding-left: calc(5px * 4) !important;
}

.pl-5 {
  padding-left: calc(5px * 5) !important;
}

.pl-6 {
  padding-left: calc(5px * 6) !important;
}

.pl-7, .container .roadmap-board .board-planned, .container .roadmap-board .board-in-progress, .container .roadmap-board .board-live, .bar-2x .bar-2x-back {
  padding-left: calc(5px * 7) !important;
}

.pl-8 {
  padding-left: calc(5px * 8) !important;
}

.pl-9 {
  padding-left: calc(5px * 9) !important;
}

.pl-10 {
  padding-left: calc(5px * 10) !important;
}

.pr-1 {
  padding-right: calc(5px * 1) !important;
}

.pr-2 {
  padding-right: calc(5px * 2) !important;
}

.pr-3, .bar-2x .bar-2x-back div i {
  padding-right: calc(5px * 3) !important;
}

.pr-4 {
  padding-right: calc(5px * 4) !important;
}

.pr-5 {
  padding-right: calc(5px * 5) !important;
}

.pr-6 {
  padding-right: calc(5px * 6) !important;
}

.pr-7, .container .roadmap-board .board-planned, .container .roadmap-board .board-in-progress, .container .roadmap-board .board-live {
  padding-right: calc(5px * 7) !important;
}

.pr-8, .bar-2x .bar-2x-button {
  padding-right: calc(5px * 8) !important;
}

.pr-9 {
  padding-right: calc(5px * 9) !important;
}

.pr-10 {
  padding-right: calc(5px * 10) !important;
}

.pb-1 {
  padding-bottom: calc(5px * 1) !important;
}

.pb-2 {
  padding-bottom: calc(5px * 2) !important;
}

.pb-3 {
  padding-bottom: calc(5px * 3) !important;
}

.pb-4 {
  padding-bottom: calc(5px * 4) !important;
}

.pb-5 {
  padding-bottom: calc(5px * 5) !important;
}

.pb-6 {
  padding-bottom: calc(5px * 6) !important;
}

.pb-7, .container .roadmap-board .board-planned, .container .roadmap-board .board-in-progress, .container .roadmap-board .board-live {
  padding-bottom: calc(5px * 7) !important;
}

.pb-8 {
  padding-bottom: calc(5px * 8) !important;
}

.pb-9 {
  padding-bottom: calc(5px * 9) !important;
}

.pb-10 {
  padding-bottom: calc(5px * 10) !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.pt-16 {
  padding-top: 80px;
}

.width-2x, .circle-measure {
  width: 10px;
}

.height-2x, .circle-measure {
  height: 10px;
}

.height-10x {
  height: 50px;
}

.height-16x {
  height: 80px;
}

.height-20x {
  height: 100px;
}

.height-23x, .bar-2x {
  height: 115px;
}

.height-25x {
  height: 125px;
}

.height-30x {
  height: 150px;
}

.height-40x {
  height: 200px;
}

.width-30x {
  width: 150px;
}

.border-radius-2x, .bar-2x, .bar-2x .bar-2x-button a {
  border-radius: 10px;
}

.border-radius-5x {
  border-radius: 25px;
}

.color-white, .bar-2x .bar-2x-back div h1, .bar-2x .bar-2x-back h1 {
  color: #FFFFFF;
}

.font-weight-300, .container .roadmap-board .board-planned p, .container .roadmap-board .board-in-progress p, .container .roadmap-board .board-live p, .total-task p {
  font-weight: 300;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600, .container .roadmap-board .board-planned .chip .comment h1, .container .roadmap-board .board-in-progress .chip .comment h1, .container .roadmap-board .board-live .chip .comment h1 {
  font-weight: 600;
}

.font-weight-700, .container .roadmap-board .board-planned h1, .container .roadmap-board .board-in-progress h1, .container .roadmap-board .board-live h1, .container .roadmap-board .board-planned .chip a, .container .roadmap-board .board-in-progress .chip a, .container .roadmap-board .board-live .chip a, .bar-2x .bar-2x-back div h1, .bar-2x .bar-2x-back h1, .total-task h1 {
  font-weight: 700;
}

.font-size-x {
  font-size: 5px;
}

.font-size-2x, .container .roadmap-board .board-planned .circle, .container .roadmap-board .board-in-progress .circle, .container .roadmap-board .board-live .circle {
  font-size: 10px;
}

.font-size-3x, .container .roadmap-board .board-planned p, .container .roadmap-board .board-in-progress p, .container .roadmap-board .board-live p, .container .roadmap-board .board-planned .chip a, .container .roadmap-board .board-in-progress .chip a, .container .roadmap-board .board-live .chip a, .container .roadmap-board .board-planned .chip .comment h1, .container .roadmap-board .board-in-progress .chip .comment h1, .container .roadmap-board .board-live .chip .comment h1, .bar-2x .bar-2x-back div h1, .total-task p {
  font-size: 15px;
}

.font-size-4x, .container .roadmap-board .board-planned h1, .container .roadmap-board .board-in-progress h1, .container .roadmap-board .board-live h1, .total-task h1 {
  font-size: 20px;
}

.font-size-5x, .bar-2x .bar-2x-back h1 {
  font-size: 25px;
}

.line-height-x {
  line-height: 5px;
}

.line-height-2x {
  line-height: 10px;
}

.line-height-3x {
  line-height: 15px;
}

.line-height-4x, .container .roadmap-board .board-planned .chip a, .container .roadmap-board .board-in-progress .chip a, .container .roadmap-board .board-live .chip a, .container .roadmap-board .board-planned .chip .comment h1, .container .roadmap-board .board-in-progress .chip .comment h1, .container .roadmap-board .board-live .chip .comment h1, .bar-2x .bar-2x-back div h1 {
  line-height: 20px;
}

.line-height-5x, .container .roadmap-board .board-planned p, .container .roadmap-board .board-in-progress p, .container .roadmap-board .board-live p, .container .roadmap-board .board-planned h1, .container .roadmap-board .board-in-progress h1, .container .roadmap-board .board-live h1, .total-task p, .total-task h1 {
  line-height: 25px;
}

.line-height-6x {
  line-height: 30px;
}

.line-height-7x, .bar-2x .bar-2x-back h1 {
  line-height: 35px;
}

.container .roadmap-board .board-planned p, .container .roadmap-board .board-in-progress p, .container .roadmap-board .board-live p {
  font-family: Jost;
}

.container .roadmap-board .board-planned h1, .container .roadmap-board .board-in-progress h1, .container .roadmap-board .board-live h1 {
  font-family: Jost;
}

.container .roadmap-board .board-planned .circle, .container .roadmap-board .board-in-progress .circle, .container .roadmap-board .board-live .circle {
  margin-top: 8px;
}

.container .roadmap-board .board-planned .chip a, .container .roadmap-board .board-in-progress .chip a, .container .roadmap-board .board-live .chip a {
  cursor: pointer;
}

.container .roadmap-board .board-planned .chip .comment h1, .container .roadmap-board .board-in-progress .chip .comment h1, .container .roadmap-board .board-live .chip .comment h1 {
  font-family: Jost;
}

.container .roadmap-board .board-planned {
  border-radius: 5px 5px 0px 0px;
  border-top: 5px solid #F49F85;
}

.container .roadmap-board .board-in-progress {
  border-radius: 5px 5px 0px 0px;
  border-top: 5px solid #AD1FEA;
}

.container .roadmap-board .board-live {
  border-radius: 5px 5px 0px 0px;
  border-top: 5px solid #62BCFA;
}

.bar-2x .bar-2x-back div h1 {
  font-family: Jost;
}

.bar-2x .bar-2x-back h1 {
  font-family: Jost;
}

.bar-2x .bar-2x-button a {
  padding: 15px 25px;
}

.chip-default, .container .roadmap-board .board-planned .board-subject a, .container .roadmap-board .board-in-progress .board-subject a, .container .roadmap-board .board-live .board-subject a, .container .roadmap-board .board-planned .chip a, .container .roadmap-board .board-in-progress .chip a, .container .roadmap-board .board-live .chip a {
  background: #F2F4FF;
  border-radius: 10px;
  color: #4661E6;
  padding: 5px 15px;
}

.chip-hover {
  background: #CFD7FF;
  border-radius: 10px;
  color: #4661E6;
}

.chip-active {
  background: #4661E6;
  border-radius: 10px;
  color: #FFFFFF;
}

.total-task p {
  font-family: Jost;
}

.total-task h1 {
  font-family: Jost;
}
