body{
    background:$main-background-d8;
}
.demo-title{
    @extend .background-main-d8;
    @extend .font-size-4x;
    @extend .margin-0;
    padding: $space-2x $space-3x;
    color:$white-color;
    @extend .text-align-center;
}

.container{
    @extend .margin-top-16x;
    @extend .margin-bottom-10x;
    .description{
        @extend .text-align-center;
    }
    h1{
        @extend .font-size-6x;
        font-family: 'Droid Sans',sans-serif;
    }
    p{
        @extend .margin-top-2x;
    }
}

.service{
    background: $white-color;
    margin: 0 $space-3x;
    padding: $space-6x 0px;
    .service-item{
        padding: $space-2x 2px;
        i{
    width: 130px;
    height: 130px;
    line-height: $space-12x*2;
    font-size: 52px;
    margin: $space-4x;
    color: $main-color-d8;
    border: 1px solid #e5e5e5;
    border-radius: 100%;
    box-shadow: $space-x $space-x 3px #ddd;
        }
    h2{
    padding: $space-3x 0;
    }

    p{
        color: #919191;
        padding: $space-2x 4$space-8x;
        @extend .font-size-3x;
        margin-bottom: $space-10x;
    }
    a{
        background: $main-color-d8;
        border:1px solid $main-color-d8;
        margin: $space-2x 0 $space-4x;
        padding: $space-3x $space-7x;
        color: $white-color;
        border-radius: $space-8x;
    }
    }

}

    .special-div{
        position: relative;
        background: $gray-color;
        transition: all .4s ease;
        > * {
            position: relative;
            z-index: 2;
        }
    
        &:before {
            position: absolute;
            bottom: 0;
            right: 0;
            width: 0%;
            height: 100%;
            content: '';
            transition: all .4s ease;
            background:$main-color-d8;
            z-index: 0;
        }

    }

    .service-item:hover {
        .special-div:before {  
            width: 100%;
        }
        h2{
            color:$white-color;
        }
        i{
            box-shadow: -5px 7px 3px #ddd;
        }
     
    }

    .service-item a:hover{
        background:darken($main-color-d8, 25%)
    }

