* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  widh: calc((100/12)*1);
}

.col-2 {
  widh: calc((100/12)*2);
}

.col-3 {
  widh: calc((100/12)*3);
}

.col-4 {
  widh: calc((100/12)*4);
}

.col-5 {
  widh: calc((100/12)*5);
}

.col-6 {
  widh: calc((100/12)*6);
}

.col-7 {
  widh: calc((100/12)*7);
}

.col-8 {
  widh: calc((100/12)*8);
}

.col-9 {
  widh: calc((100/12)*9);
}

.col-10 {
  widh: calc((100/12)*10);
}

.col-11 {
  widh: calc((100/12)*11);
}

.col-12 {
  widh: calc((100/12)*12);
}

.margin-0, .demo-title {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.margin-x {
  margin: 5px;
}

.padding-x {
  padding: 5px;
}

.margin-2x {
  margin: 10px;
}

.padding-2x {
  padding: 10px;
}

.margin-4x {
  margin: 20px;
}

.padding-4x {
  padding: 20px;
}

.margin-top-x {
  margin-top: 5px;
}

.margin-top-2x, .container p {
  margin-top: 10px;
}

.margin-top-3x {
  margin-top: 15px;
}

.margin-top-4x {
  margin-top: 20px;
}

.margin-top-5x {
  margin-top: 25px;
}

.margin-top-10x {
  margin-top: 60px;
}

.margin-bottom-10x, .container {
  margin-bottom: 50px;
}

.margin-top-16x, .container {
  margin-top: 80px;
}

.paddingS-16x {
  margin-top: 80px;
}

.text-align-center, .demo-title, .container .description {
  text-align: center;
}

.font-size-2x {
  font-size: 10px;
}

.font-size-3x {
  font-size: 15px;
}

.font-size-4x, .demo-title {
  font-size: 20px;
}

.font-size-6x, .container h1 {
  font-size: 30px;
}

.background-main-d1 {
  background: #FFA500;
}

.background-main-d8 {
  background: #FF4343;
}

.background-main-d13 {
  background: #1CE6AE;
}

.background-main-d4 {
  background: #E12573;
}

.background-main-d10, .demo-title, .service .service-item {
  background: #816EE7;
}

.white-color {
  color: white;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}

.demo-title {
  padding: 10px 15px;
  color: white;
}

.container h1 {
  font-family: 'Droid Sans',sans-serif;
}

.service {
  margin: 0 15px;
  padding: 30px 0px;
}

.service .service-item {
  padding-bottom: 50px;
  border: 2px solid #816EE7;
  border-radius: 40px 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.service .service-item h2 {
  font-size: 30px;
  font-family: 'Droid Sans',sans-serif;
  color: white;
  padding: 10px 0px;
}

.service .service-item i {
  width: 100%;
  margin: 20px 0;
  color: #533dcd;
  background: white;
  font-size: 52px;
  line-height: 120px;
  height: 130px;
}

.service .service-item p {
  color: white;
  padding: 0 0 30px;
}

.service .service-item a {
  background: #482cdc;
  border: 1px solid #816EE7;
  margin: 10px 0 20px;
  padding: 15px 35px;
  color: white;
  border-radius: 40px;
}

.service-item:hover {
  border-radius: 0 40px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}
