$main-color: #F2F2F2;;
$electric-purple-color:#AD1FEA;
$ultramarine-blue-color:#4661E6;
$rhino-blue-color:#373F68;
$white-color:#FFFFFF;
$magnolia-color:#F2F4FF;
$ghost-white-color:#F7F8FD;
$rhino-color:#3A4374;
$waikawa-grey-color:#647196;
$blush-color:#F49F85;
$crystal-blue:#62BCFA;
$Tropical-Blue-color:#CFD7FF;
$catskill-white:#F2F4FE;
$moonraker-color:#CDD2EE;


.background-rhino-blue-color{
   background:$rhino-blue-color;
}

.color-white{
   color: $white-color;
}
.color-moonraker{
   color: $moonraker-color;
}