.demo-title{
    @extend .background-main-d4;
    @extend .font-size-4x;
    @extend .margin-0;
    padding: $space-2x $space-3x;
    color:$white-color;
    @extend .text-align-center;
}

.container{
    @extend .margin-top-16x;
    @extend .margin-bottom-10x;
    .description{
        @extend .text-align-center;
    }
    h1{
        @extend .font-size-6x;
        font-family: 'Droid Sans',sans-serif;
    }
    p{
        @extend .margin-top-2x;
    }
}

.service{
    
    margin: 0 $space-3x;
    padding: $space-6x 0px;
    transition: all .4s ease;
        i{
            position: absolute;
            height: 110px;
            width: $space-x*13;
            line-height: 107px;
            font-size: 52px;
            color:$main-color-d4;
            top: -15px;
            left: $space-2x;

        }
        h2{
            padding: $space-2x $space-5x;
            text-align: right;
            font-size: 33px;
            font-family: 'Droid Sans',sans-serif;
        }
        p{
            padding: 0px 23px 20px 100px;
            text-align: right;
            margin-bottom: $space-4x;
        }
        a{
            @extend .background-main-d4;
            padding: $space-3x $space-7x;
            color: $white-color;
            border-radius: $space-8x;
        }

}

.service-item{
    position: relative;
    transition: all .4s ease;
    padding-bottom: $space-10x;

    > * {
        position: relative;
        z-index: 2;
    }

    &:before {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 0%;
        height: 100%;
        content: '';
        transition: all .4s ease;
        z-index: 0;
    }

    &:hover {
        &:before {
            width: 100%;
            background:$main-color-d4;
        }
        h2{
            color:$white-color;
        }
        p{
            color:$white-color;
        }
        i{
            color:$white-color;
        }
        a{
            background:lighten($main-color-d4, 10%);
        }
       
    }

}