.demo-title{
    @extend .background-main;
    @extend .text-align-center;
    @extend .padding-2x;
    @extend .white-color;
    @extend .font-size-4x;
}

.type-04{
    padding: 0 $space-3x;
}

.services-04{
    border: 1px solid $main-color;
    h2{
        @extend .font-size-6x;
        padding: $space-4x 0px;
    }
    p{
        color: #919191;
        padding: 0 40px;
        @extend .font-size-3x;
        margin-bottom: $space-10x;
    }
    a{
        background: $main-color;
        border:1px solid $main-color;;
        margin: $space-2x 0 $space-4x;
        padding: $space-3x $space-7x;
        color: $white-color;
        border-radius: $space-8x;
    }

}
