.demo-title{
    @extend .background-main-d9;
    @extend .font-size-4x;
    @extend .margin-0;
    padding: $space-2x $space-3x;
    color:$white-color;
    @extend .text-align-center;
}
.container{
    @extend .margin-top-16x;
    @extend .margin-bottom-10x;
    .description{
        @extend .text-align-center;
    }
    h1{
        @extend .font-size-6x;
        font-family: 'Droid Sans',sans-serif;
    }
    p{
        @extend .margin-top-2x;
    }
}

.service{
    padding: 0 $space-3x;
}
.service-item{
    position: relative;
    border: 1px solid $main-color-d9;
    margin: $space-8x*2 0 $space-8x;
    padding: $space-8x*2 2px 74px;
    border: 1px solid $main-color-d9;
    background:$main-background-d9;
    h2{
        @extend .font-size-6x;
        padding: $space-4x 0px;
    }
    p{
        color: #919191;
        padding: 0 40px;
        @extend .font-size-3x;
        margin-bottom: $space-10x;
    }
    a{
        background: $main-color-d9;
        border:1px solid $main-color-d9;
        margin: $space-2x 0 $space-4x;
        padding: $space-3x $space-7x;
        color: $white-color;
        border-radius: $space-8x;
    }
    i{
        position: absolute;
        top: -90px;
        left: 50%;
        height: 130px;
        width: 130px;
        line-height: 120px;
        font-size: 52px;
        margin: 20px 0;
        transition: all .4s ease;
        transform: translateX(-50%);
        color: $main-color-d9;
        border-radius: 100%;
        background: $white-color;
    }
}

.service-item:hover{
    i{
        background:$main-color-d9;
        color:$white-color;
    }
}
.service-item a:hover{
        background:darken($main-color-d9, 15%);
}