body {
    background-color: var( --white-color);
}

.Latest-Collection{
    padding: 10px;
    margin: 5px;
    border: 2px solid transparent;
}
.Collection-list1{
    position: relative;
}

.cl-img{
    width: 100%;
    /* height: 400px; */
    display: inline-block;
    position: relative;

}

.cl-img-icon{
    position:absolute;
    right: 0;
    top: 0;
    z-index: 99;
}
.cl-img-icon span i {
    font-size: var(--space-3x);
}
.cl-img-icon span {
    background: var(--white-color);
    border: 1px solid var(--white-color);
    border-radius: 50px;
    padding: var(--space-x) var(--space-x);
    margin: 3px;
}

.cl-img img{
    width: 100%;
    /* height: 400px; */
    /* position: absolute; */
}
.img-top{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
.invisible-icon{
    opacity: 0;
    transform: translateY(-20px);
}
.cl-img-icon span:hover {
    background: var(--scarlet-color);
    cursor:pointer;
}

.Latest-Collection:hover .img-top{
    display: inline;
    cursor:pointer;
}

.Latest-Collection:hover .invisible-icon{
   opacity: 1;
   transform: translateY(0px);
   transition-duration: 0.5s;
   cursor:pointer;
}

.Latest-Collection:hover {
    border: 2px solid var(--border-color);
    cursor:pointer;
}

.collection-list-text1 span i{
  color: var(--scarlet-color);
}

.collection-list-text1 p{
padding: var(--space-2x) 0 0 0 ;
}

.collection-list-text1 button{
   background:var(--scarlet-color);
   width: 100%;
   margin-top: var(--space-3x);
   padding: var(--space-2x);
   opacity: 0;
   
}
.collection-list-text1 button:hover{
    background:var(--black-color);
    color:var(--white-color);
    cursor:pointer;
    
 }
 .collection-list-text1 p:hover{
color:var(--scarlet-color);
cursor:pointer;
 }

.Latest-Collection:hover .collection-list-text1 button{
    opacity: 1;
    transition-duration: 0.5s;
 }