* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1 {
  width: calc((100%/12)*1);
}

.col-2 {
  width: calc((100%/12)*2);
}

.col-3 {
  width: calc((100%/12)*3);
}

.col-4 {
  width: calc((100%/12)*4);
}

.col-5 {
  width: calc((100%/12)*5);
}

.col-6 {
  width: calc((100%/12)*6);
}

.col-7 {
  width: calc((100%/12)*7);
}

.col-8 {
  width: calc((100%/12)*8);
}

.col-9 {
  width: calc((100%/12)*9);
}

.col-10 {
  width: calc((100%/12)*10);
}

.col-11 {
  width: calc((100%/12)*11);
}

.col-12 {
  width: calc((100%/12)*12);
}

.margin-0, .demo-title {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.margin-x {
  margin: 5px;
}

.padding-x {
  padding: 5px;
}

.margin-2x {
  margin: 10px;
}

.padding-2x {
  padding: 10px;
}

.margin-4x {
  margin: 20px;
}

.padding-4x {
  padding: 20px;
}

.margin-top-x {
  margin-top: 5px;
}

.margin-top-2x, .container p {
  margin-top: 10px;
}

.margin-top-3x {
  margin-top: 15px;
}

.margin-top-4x {
  margin-top: 20px;
}

.margin-top-5x {
  margin-top: 25px;
}

.margin-top-10x {
  margin-top: 60px;
}

.margin-bottom-10x, .container {
  margin-bottom: 50px;
}

.margin-top-16x, .container {
  margin-top: 80px;
}

.paddingS-16x {
  margin-top: 80px;
}

.text-align-center, .demo-title, .container .description {
  text-align: center;
}

.font-size-2x {
  font-size: 10px;
}

.font-size-3x, .service-item p {
  font-size: 15px;
}

.font-size-4x, .demo-title {
  font-size: 20px;
}

.font-size-6x, .container h1, .service-item h2 {
  font-size: 30px;
}

.background-main-d1 {
  background: #FFA500;
}

.background-main-d8 {
  background: #FF4343;
}

.background-main-d13 {
  background: #1CE6AE;
}

.background-main-d4 {
  background: #E12573;
}

.background-main-d10 {
  background: #816EE7;
}

.background-main-d11 {
  background: #EE12A0;
}

.background-main-d9, .demo-title {
  background: #C0DF19;
}

.background-main-d7 {
  background: #2E4B9B;
}

.white-color {
  color: white;
}

body, ul, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

p {
  font-size: 14px;
}

.demo-title {
  padding: 10px 15px;
  color: white;
}

.container h1 {
  font-family: 'Droid Sans',sans-serif;
}

.service {
  padding: 0 15px;
}

.service-item {
  position: relative;
  border: 1px solid #C0DF19;
  margin: 80px 0 40px;
  padding: 80px 2px 74px;
  border: 1px solid #C0DF19;
  background: #F4FFB9;
}

.service-item h2 {
  padding: 20px 0px;
}

.service-item p {
  color: #919191;
  padding: 0 40px;
  margin-bottom: 50px;
}

.service-item a {
  background: #C0DF19;
  border: 1px solid #C0DF19;
  margin: 10px 0 20px;
  padding: 15px 35px;
  color: white;
  border-radius: 40px;
}

.service-item i {
  position: absolute;
  top: -90px;
  left: 50%;
  height: 130px;
  width: 130px;
  line-height: 120px;
  font-size: 52px;
  margin: 20px 0;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #C0DF19;
  border-radius: 100%;
  background: white;
}

.service-item:hover i {
  background: #C0DF19;
  color: white;
}

.service-item a:hover {
  background: #859a11;
}
