.empty-comment{
@extend .white-board;
@extend .text-align-center;
margin-bottom: $space-20x;
   img{
      margin-top: $space-20x;
      
      @extend .width-30x;
      @extend .height-30x;
   }
   h1{
      font-family: Jost;
      @extend .font-weight-700;
      @extend .font-size-5x;
      @extend .line-height-7x;
      color: $rhino-color;
   }
   p{
      font-family: Jost;
      @extend .font-weight-300;
      @extend .font-size-3x;
      @extend .line-height-5x;
      color: $waikawa-grey-color;
   }
   a{
      @extend .button-electric-purple;
      padding: $space-3x $space-5x;
      color:$white-color;
      @extend .font-weight-700;
      @extend .font-size-3x;
      @extend .line-height-4x;
      @extend .display-inline-block;
   }
}
