.chip-default{
   background: $magnolia-color;
   border-radius: $space-2x;
   color:$ultramarine-blue-color;
}

.chip-hover{
   background: $Tropical-Blue-color;
   border-radius: $space-2x;
   color:$ultramarine-blue-color;
}
.chip-active{
   background: $ultramarine-blue-color;
   border-radius: $space-2x;
   color:$white-color
}