$main-color:#FFA500;
$space-x:5px;
$white-color:white;
$black-color:black;
$space-2x:$space-x*2;
$space-3x:$space-x*3;
$space-4x:$space-x*4;
$space-5x:$space-x*5;
$space-6x:$space-x*6;
$space-7x:$space-x*7;
$space-8x:$space-x*8;
$space-10x:$space-x*10;
$space-12x:$space-x*12;
